# frozen_string_literal: true

class <%= class_name %>Controller < ApplicationController
  # before_action :authenticate_user!
  before_action :<%= model.underscore %>, only: [:show, :edit, :update, :destroy]

  private

  def <%= model.underscore %>
    @<%= model.underscore %> ||= <%= model %>.find_by_id(params[:id])
  end

  def <%= model.underscore %>_params
    params.require(:<%= model.underscore %>).permit(<%= allowed_attributes.map {|a| ":#{a[:name]}"} %>)
  end
end
